.container {
    width: 100vw;
    height: 500px;
    margin-top: 100px;
    margin-bottom: 70px;
    display: flex;
    flex-direction: column;
}

/* styling for home buttons */
.grid-container {
    flex-grow: 1;
    display: grid;
    grid-template-columns: 175px 175px;
    grid-gap: 20px;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin-top: 10px;
}

.homeButton {
    width: 100%;
    height: 100%;
    background-color: #222121;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    color: white;
    text-align: center;
    font-size: 20px;
    box-shadow: 0 8px 16px rgba(100, 100,100, 0.3);
}

/* styling for search */
.search-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
}

.search-box {
    height: 30px;
    width: 80%;
    font-size: 16px;
    border-radius: 20px;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
}


