body {
    margin: 0;
    padding: 0;
    background-color: #000000;
}

.pageTitle{
    color: white;
    font-weight: bold;
    padding: 10px;
    margin: 0;
    font-size: 30px;
    background: linear-gradient(45deg,#701d6d, #40E0D0, #701d6d);
}

.songPreview {
    height: 10vh;
    padding: 10px;
}

.bottomBar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #292828;
    color: white;
    padding: 0px;
}

.progressBarBG {
    width: 100%;
    height: 1vh;
    background-color: #474545;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* The actual progress bar */
.progressBar {
    width: 50%;
    height: 100%;
    background-color: #8f06ee;
}
